<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.agramar.web.jsp.mapper.SampleMapper">
    <select id="selectAllCities" resultType="io.github.agramar.web.jsp.vo.CityVO">
        SELECT
            ID,
            Name,
            CountryCode,
            District,
            Population
        FROM
            city
    </select>
</mapper>